In [678]:
import pandas as pd
import datetime

 School ranking file - rankings by state

In [679]:
school_DF=pd.read_csv('./Data/school_ranking.csv')

Copy of original DF is made - so if there are mistakes, I can always go back to original.  Working copy is called 'working_schoolDF'

In [680]:
working_schoolDF=school_DF.copy()

iloc command used to isolate only the columns for state name and overall ranking

In [681]:
working_schoolDF=working_schoolDF.iloc[:,0:2]
display(working_schoolDF)

    RANK           State
0      1      New Jersey
1      2   New Hampshire
2      3     Connecticut
3      4         Vermont
4      5   Massachusetts
5      6        New York
6      7           Maine
7      8        Colorado
8      9    Pennsylvania
9     10        Virginia
10    11        Delaware
11    12        Maryland
12    13      Washington
13    14         Wyoming
14    15       Minnesota
15    16            Iowa
16    17    South Dakota
17    18            Ohio
18    19       Wisconsin
19    20        Illinois
20    21        Nebraska
21    22    Rhode Island
22    23         Indiana
23    24          Oregon
24    25    North Dakota
25    26        Missouri
26    27         Montana
27    28          Kansas
28    29        Michigan
29    30        Kentucky
30    31         Georgia
31    32        Arkansas
32    33           Idaho
33    34   West Virginia
34    35          Alaska
35    36          Hawaii
36    37            Utah
37    38           Texas
38    39     Mississippi
39    40      California
40    41       Tennessee
41    42         Florida
42    43  North Carolina
43    44        Oklahoma
44    45  South Carolina
45    46         Alabama
46    47      New Mexico
47    48          Nevada
48    49       Louisiana
49    50         Arizona

Mental Health data - rankings of mental health variables by state

In [682]:
mental_DF=pd.read_csv('./Data/mental_health.csv')
display(mental_DF)

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,23.2,21.5,25.0,21.5 - 25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15853,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,Virginia,4.1,68,"Apr 30 - May 27, 2024",04/30/2024,05/27/2024,18.5,15.9,21.4,15.9 - 21.4,15.1-19.9
15854,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,Washington,4.1,68,"Apr 30 - May 27, 2024",04/30/2024,05/27/2024,23.5,21.2,25.9,21.2 - 25.9,23.2-27.3
15855,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,West Virginia,4.1,68,"Apr 30 - May 27, 2024",04/30/2024,05/27/2024,25.2,20.2,30.8,20.2 - 30.8,23.2-27.3
15856,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,Wisconsin,4.1,68,"Apr 30 - May 27, 2024",04/30/2024,05/27/2024,19.0,15.8,22.5,15.8 - 22.5,15.1-19.9
15857,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,Wyoming,4.1,68,"Apr 30 - May 27, 2024",04/30/2024,05/27/2024,25.8,21.1,31.0,21.1 - 31.0,23.2-27.3

Need to isolate all rows columns=="By State" and columns=="Symptoms of Anxiety Disorder or Depressive Disorder" only, and the columns need to be shown are "Indicator", "Group","Subgroup", "Time Period Label", and "Value"
Start with extracting only those columns, then only choose certain categories

In [683]:
working_mentalDF=mental_DF.copy()
working_mentalDF=working_mentalDF[["Indicator","Group","Subgroup","Time Period Start Date","Time Period End Date","Value"]]
working_mentalDF=working_mentalDF[(working_mentalDF["Group"]=="By State") & (working_mentalDF["Indicator"]=="Symptoms of Anxiety Disorder or Depressive Disorder")]
display(working_mentalDF)

,Indicator,Group,Subgroup,Time Period Start Date,Time Period End Date,Value
159,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Alabama,04/23/2020,05/05/2020,30.3
160,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Alaska,04/23/2020,05/05/2020,31.5
161,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Arizona,04/23/2020,05/05/2020,36.4
162,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Arkansas,04/23/2020,05/05/2020,38.0
163,Symptoms of Anxiety Disorder or Depressive Dis...,By State,California,04/23/2020,05/05/2020,37.4
...,...,...,...,...,...,...
15853,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,04/30/2024,05/27/2024,18.5
15854,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,04/30/2024,05/27/2024,23.5
15855,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,04/30/2024,05/27/2024,25.2
15856,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,04/30/2024,05/27/2024,19.0
15857,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,04/30/2024,05/27/2024,25.8

Since the date columns are of type 'object', need to convert to type 'datetime'

In [684]:
working_mentalDF["Time Period Start Date"]=pd.to_datetime(working_mentalDF["Time Period Start Date"])
working_mentalDF["Time Period End Date"]=pd.to_datetime(working_mentalDF["Time Period End Date"])
display(working_mentalDF)

,Indicator,Group,Subgroup,Time Period Start Date,Time Period End Date,Value
159,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Alabama,2020-04-23,2020-05-05,30.3
160,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Alaska,2020-04-23,2020-05-05,31.5
161,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Arizona,2020-04-23,2020-05-05,36.4
162,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Arkansas,2020-04-23,2020-05-05,38.0
163,Symptoms of Anxiety Disorder or Depressive Dis...,By State,California,2020-04-23,2020-05-05,37.4
...,...,...,...,...,...,...
15853,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,2024-04-30,2024-05-27,18.5
15854,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,2024-04-30,2024-05-27,23.5
15855,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,2024-04-30,2024-05-27,25.2
15856,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,2024-04-30,2024-05-27,19.0
15857,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,2024-04-30,2024-05-27,25.8

Checking the type of columns "Time Period Start Date" and "Time Period End Date"

In [685]:
display(working_mentalDF.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3468 entries, 159 to 15857
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Indicator               3468 non-null   object
 1   Group                   3468 non-null   object
 2   Subgroup                3468 non-null   object
 3   Time Period Start Date  3468 non-null   datetime64[ns]
 4   Time Period End Date    3468 non-null   datetime64[ns]
 5   Value                   3468 non-null   float64
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 189.7+ KB

None

Need to extract the year only from the dates so can perform arithmetic comparison accordingly

In [686]:
working_mentalDF["Time Period Start Date"]=working_mentalDF["Time Period Start Date"].dt.year
working_mentalDF["Time Period End Date"]=working_mentalDF["Time Period End Date"].dt.year
display(working_mentalDF)

,Indicator,Group,Subgroup,Time Period Start Date,Time Period End Date,Value
159,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Alabama,2020,2020,30.3
160,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Alaska,2020,2020,31.5
161,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Arizona,2020,2020,36.4
162,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Arkansas,2020,2020,38.0
163,Symptoms of Anxiety Disorder or Depressive Dis...,By State,California,2020,2020,37.4
...,...,...,...,...,...,...
15853,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,2024,2024,18.5
15854,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,2024,2024,23.5
15855,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,2024,2024,25.2
15856,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,2024,2024,19.0
15857,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,2024,2024,25.8

To isolate results only for year 2023

In [687]:
working_mentalDF=working_mentalDF[["Subgroup","Time Period Start Date","Time Period End Date","Value"]]
working_mentalDF=working_mentalDF[(working_mentalDF["Time Period Start Date"]==2023) & (working_mentalDF["Time Period End Date"]==2023)]
display(working_mentalDF)

            Subgroup  Time Period Start Date  Time Period End Date  Value
12216        Alabama                    2023                  2023   38.2
12217         Alaska                    2023                  2023   31.6
12218        Arizona                    2023                  2023   33.2
12219       Arkansas                    2023                  2023   30.6
12220     California                    2023                  2023   32.6
...              ...                     ...                   ...    ...
14602       Virginia                    2023                  2023   32.8
14603     Washington                    2023                  2023   36.4
14604  West Virginia                    2023                  2023   40.1
14605      Wisconsin                    2023                  2023   30.7
14606        Wyoming                    2023                  2023   36.0

[561 rows x 4 columns]

Drop the columns "Time Period Start Date" and "Time Period End Date"

In [688]:
working_mentalDF=working_mentalDF.drop(columns=["Time Period Start Date","Time Period End Date"])
display(working_mentalDF)

            Subgroup  Value
12216        Alabama   38.2
12217         Alaska   31.6
12218        Arizona   33.2
12219       Arkansas   30.6
12220     California   32.6
...              ...    ...
14602       Virginia   32.8
14603     Washington   36.4
14604  West Virginia   40.1
14605      Wisconsin   30.7
14606        Wyoming   36.0

[561 rows x 2 columns]

Get the average of value, grouped by state

In [689]:
working_mentalDF=working_mentalDF.groupby("Subgroup").mean("value")
display(working_mentalDF)

                          Value
Subgroup
Alabama               36.181818
Alaska                32.127273
Arizona               32.427273
Arkansas              35.781818
California            32.418182
Colorado              32.309091
Connecticut           29.990909
Delaware              28.727273
District of Columbia  27.727273
Florida               33.281818
Georgia               33.800000
Hawaii                27.836364
Idaho                 33.172727
Illinois              30.990909
Indiana               32.990909
Iowa                  30.927273
Kansas                31.727273
Kentucky              36.327273
Louisiana             37.563636
Maine                 30.636364
Maryland              29.045455
Massachusetts         31.318182
Michigan              31.327273
Minnesota             26.927273
Mississippi           37.745455
Missouri              33.290909
Montana               32.245455
Nebraska              30.563636
Nevada                35.681818
New Hampshire         30.418182
New Jersey            29.581818
New Mexico            33.990909
New York              30.009091
North Carolina        31.409091
North Dakota          29.063636
Ohio                  33.163636
Oklahoma              36.136364
Oregon                34.790909
Pennsylvania          32.554545
Rhode Island          30.054545
South Carolina        32.245455
South Dakota          28.145455
Tennessee             34.581818
Texas                 34.327273
Utah                  34.854545
Vermont               26.963636
Virginia              30.972727
Washington            32.681818
West Virginia         37.245455
Wisconsin             28.245455
Wyoming               33.336364

Need to rank the value in ascending order because value reflects % of respondents displaying anxiety or depression symptoms

In [690]:
working_mentalDF["Mental Health Rank"]=working_mentalDF["Value"].rank()
display(working_mentalDF)

                          Value  Mental Health Rank
Subgroup
Alabama               36.181818                47.0
Alaska                32.127273                24.0
Arizona               32.427273                29.0
Arkansas              35.781818                45.0
California            32.418182                28.0
Colorado              32.309091                27.0
Connecticut           29.990909                11.0
Delaware              28.727273                 7.0
District of Columbia  27.727273                 3.0
Florida               33.281818                35.0
Georgia               33.800000                38.0
Hawaii                27.836364                 4.0
Idaho                 33.172727                34.0
Illinois              30.990909                19.0
Indiana               32.990909                32.0
Iowa                  30.927273                17.0
Kansas                31.727273                23.0
Kentucky              36.327273                48.0
Louisiana             37.563636                50.0
Maine                 30.636364                16.0
Maryland              29.045455                 8.0
Massachusetts         31.318182                20.0
Michigan              31.327273                21.0
Minnesota             26.927273                 1.0
Mississippi           37.745455                51.0
Missouri              33.290909                36.0
Montana               32.245455                25.5
Nebraska              30.563636                15.0
Nevada                35.681818                44.0
New Hampshire         30.418182                14.0
New Jersey            29.581818                10.0
New Mexico            33.990909                39.0
New York              30.009091                12.0
North Carolina        31.409091                22.0
North Dakota          29.063636                 9.0
Ohio                  33.163636                33.0
Oklahoma              36.136364                46.0
Oregon                34.790909                42.0
Pennsylvania          32.554545                30.0
Rhode Island          30.054545                13.0
South Carolina        32.245455                25.5
South Dakota          28.145455                 5.0
Tennessee             34.581818                41.0
Texas                 34.327273                40.0
Utah                  34.854545                43.0
Vermont               26.963636                 2.0
Virginia              30.972727                18.0
Washington            32.681818                31.0
West Virginia         37.245455                49.0
Wisconsin             28.245455                 6.0
Wyoming               33.336364                37.0

Sort the rank in ascending order

In [691]:
working_mentalDF=working_mentalDF["Mental Health Rank"].sort_values()
display(working_mentalDF)

Subgroup
Minnesota                1.0
Vermont                  2.0
District of Columbia     3.0
Hawaii                   4.0
South Dakota             5.0
Wisconsin                6.0
Delaware                 7.0
Maryland                 8.0
North Dakota             9.0
New Jersey              10.0
Connecticut             11.0
New York                12.0
Rhode Island            13.0
New Hampshire           14.0
Nebraska                15.0
Maine                   16.0
Iowa                    17.0
Virginia                18.0
Illinois                19.0
Massachusetts           20.0
Michigan                21.0
North Carolina          22.0
Kansas                  23.0
Alaska                  24.0
Montana                 25.5
South Carolina          25.5
Colorado                27.0
California              28.0
Arizona                 29.0
Pennsylvania            30.0
Washington              31.0
Indiana                 32.0
Ohio                    33.0
Idaho                   34.0
Florida                 35.0
Missouri                36.0
Wyoming                 37.0
Georgia                 38.0
New Mexico              39.0
Texas                   40.0
Tennessee               41.0
Oregon                  42.0
Utah                    43.0
Nevada                  44.0
Arkansas                45.0
Oklahoma                46.0
Alabama                 47.0
Kentucky                48.0
West Virginia           49.0
Louisiana               50.0
Mississippi             51.0
Name: Mental Health Rank, dtype: float64