In [252]:
import pandas as pd
import datetime

 School ranking file - rankings by state

In [247]:
school_DF=pd.read_csv('./Data/school_ranking.csv')

Copy of original DF is made - so if there are mistakes, I can always go back to original.  Working copy is called 'working_schoolDF'

In [248]:
working_schoolDF=school_DF.copy()

iloc command used to isolate only the columns for state name and overall ranking

In [249]:
working_schoolDF=working_schoolDF.iloc[:,0:2]
display(working_schoolDF)

    RANK           State
0      1      New Jersey
1      2   New Hampshire
2      3     Connecticut
3      4         Vermont
4      5   Massachusetts
5      6        New York
6      7           Maine
7      8        Colorado
8      9    Pennsylvania
9     10        Virginia
10    11        Delaware
11    12        Maryland
12    13      Washington
13    14         Wyoming
14    15       Minnesota
15    16            Iowa
16    17    South Dakota
17    18            Ohio
18    19       Wisconsin
19    20        Illinois
20    21        Nebraska
21    22    Rhode Island
22    23         Indiana
23    24          Oregon
24    25    North Dakota
25    26        Missouri
26    27         Montana
27    28          Kansas
28    29        Michigan
29    30        Kentucky
30    31         Georgia
31    32        Arkansas
32    33           Idaho
33    34   West Virginia
34    35          Alaska
35    36          Hawaii
36    37            Utah
37    38           Texas
38    39     Mississippi
39    40      California
40    41       Tennessee
41    42         Florida
42    43  North Carolina
43    44        Oklahoma
44    45  South Carolina
45    46         Alabama
46    47      New Mexico
47    48          Nevada
48    49       Louisiana
49    50         Arizona

Mental Health data - rankings of mental health variables by state

In [250]:
mental_DF=pd.read_csv('./Data/mental_health.csv')
display(mental_DF.head())

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,23.2,21.5,25.0,21.5 - 25.0,NaN

Need to isolate all rows columns=="By State" and columns=="Symptoms of Anxiety Disorder or Depressive Disorder" only, and the columns need to be shown are "Indicator", "Group","Subgroup", "Time Period Label", and "Value"
Start with extracting only those columns, then only choose certain categories

In [251]:
working_mentalDF=mental_DF.copy()
working_mentalDF=working_mentalDF[["Indicator","Group","Subgroup","Time Period Label","Value"]]
working_mentalDF=working_mentalDF[(working_mentalDF["Group"]=="By State") & (working_mentalDF["Indicator"]=="Symptoms of Anxiety Disorder or Depressive Disorder")]
display(working_mentalDF)

,Indicator,Group,Subgroup,Time Period Label,Value
159,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Alabama,"Apr 23 - May 5, 2020",30.3
160,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Alaska,"Apr 23 - May 5, 2020",31.5
161,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Arizona,"Apr 23 - May 5, 2020",36.4
162,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Arkansas,"Apr 23 - May 5, 2020",38.0
163,Symptoms of Anxiety Disorder or Depressive Dis...,By State,California,"Apr 23 - May 5, 2020",37.4
...,...,...,...,...,...
15853,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,"Apr 30 - May 27, 2024",18.5
15854,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,"Apr 30 - May 27, 2024",23.5
15855,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,"Apr 30 - May 27, 2024",25.2
15856,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,"Apr 30 - May 27, 2024",19.0
15857,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,"Apr 30 - May 27, 2024",25.8